<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{% static 'static/assets/images/favicon.ico' %}">
    <!-- App css -->
    <link href="{% static 'static/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'static/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'static/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />

    <title>{% block title %} {% endblock %}</title>


    {% block css %} {% endblock %}
</head>

<body class="authentication-bg authentication-bg-pattern">
    {% block content %} {% endblock %}

    {% block js %} {% endblock %}
</body>

</html>